nav{
    display: flex;
    justify-content: space-between;
}


main{
    max-width: 1200px;
    margin: 0 auto;
}
/* frist-section-div */
.section-one{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.frist-section-div{
    max-width: 800px;
    margin: 50px;
    margin-right: 60px;
}
.frist-peregrap{
    color: rgba(19, 19, 24, 0.70);
}
.frist-ul{
    color: rgba(19, 19, 24, 0.70);
    /* padding: 8px; */
    gap: 5px;
}
.section-one-2nd-p{
    color: rgba(19, 19, 24, 0.70);
}
.secend-button{
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 34px 13px 35px;
    border-style: none;
}








/* section-three */

.section-three-1st-div{
    text-align: center;
}
.section-three p{
    color: rgba(19, 19, 24, 0.70);
}
.section-three-2nd-div{
    border: 1px solid  rgba(251, 181, 99, 0.05);
    border-radius: 8px;
    background: rgba(251, 181, 99, 0.20);
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-three-3rd-div{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 50px;
    margin-top: 10px;
}
.section-three-4th-div{
    border: 1px solid rgba(233, 68, 68, 0.20);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}






/* footer section */

hr{
    max-width: 900px;
}