*{
    margin: 0;
    padding: 0;
}
header{
    max-width: 1200px;
    margin: 0 auto;
}

.top-banner{
    display: flex;
    justify-content: center;
    background-image: url("images/Group-13.png");
    width: 100%;
    height: 500px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    padding: 30px;
    color: white;
}
.banner-form{
    display: flex;
    gap: 24px;
}
.banner-form input{
    border-radius: 8px;
    background: #FFF;
}

nav{
    display: flex;
    justify-content: space-between;
}
nav .visiting-travel{
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 400px;
}

nav .home-angcor{
    color: #FF5400;
}


main{
    max-width: 1200px;
    margin: 0 auto;
}

/* section-one */
.section-one{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.frist-section-div{
    max-width: 800px;
    margin-right: 60px;
}
.frist-section-div h2{
    font-size: 40px;
    margin-bottom: 24px;
}
.frist-section-div .all-button{
    margin-top: 34px;
}
.frist-peregrap{
    color: rgba(19, 19, 24, 0.70);
}
.frist-ul{
    color: rgba(19, 19, 24, 0.70);
    /* padding: 8px; */
    gap: 5px;
}
.section-one-2nd-p{
    color: rgba(19, 19, 24, 0.70);
}
.all-button{
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 34px 13px 35px;
    border-style: none;
    color: aliceblue;
}

/* section two */
.Choose-Your-Destination{
    text-align: center;
}
.Choose-Your-Destination-peragrap{
    color: rgba(19, 19, 24, 0.70);
}
.Choose-Your-Destination{
    margin-bottom: 45px;
}
.Choose-Your-Destination-peragrap{
    margin-top: 24px;
}




/* section-three */
.why-choose-content div{
    width: 40%;
}
.why-choose-content{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.section-three-1st-div{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 48px;
}
.section-three-1st-div h2{
    margin-bottom: 24px;
}
.section-three p{
    color: rgba(19, 19, 24, 0.70);
}
.section-three-2nd-div{
    border: 1px solid  rgba(251, 181, 99, 0.05);
    border-radius: 8px;
    background: rgba(251, 181, 99, 0.20);
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-three-3rd-div{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 50px;
    margin-top: 10px; 
    margin-bottom: 10px;
}
.section-three-4th-div{
    border: 1px solid rgba(233, 68, 68, 0.20);
    border-radius: 16px;
    background: rgba(233, 68, 68, 0.05);
    padding: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.section-three-2nd-div h3{
    margin-bottom: 10px;
}
.section-three-3rd-div h3{
    margin-bottom: 10px;
}
.section-three-4th-div h3{
    margin-bottom: 10px;
}

.logo-image{
    width: 10%;
    margin-bottom: 32px;
}

/* section four */
.Discounts .description{
    color: rgba(19, 19, 24, 0.70);
}
.Discounts{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 48px;
}
.Discounts .description{
    margin-top: 24px;
}
.Tour-Satorini{
    display: flex;
    background-image: url("images/Group\ 39.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: end;
    align-items: center;
    height: 400px;
    padding: 100px;
    border-radius: 20px;
}
.Tour-description{
    background-color: antiquewhite;
    width:45%;
    border-radius: 25px;
    padding: 50px;
}
.with-Tour-Satorini{
    display: flex;
    background-image: url("images/Group\ 40.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: start;
    align-items: center;
    height: 400px;
    padding: 100px;
    border-radius: 20px;
}
.from-Tour-description{
    background-color: antiquewhite;
    width:45%;
    border-radius: 25px;
    padding: 50px;
    margin: 24px 0;
}
.from-Tour-description h4{
    margin-bottom: 16px;
}
.from-Tour-description .Price{
    margin-top: 16px;
    margin-bottom: 25px;
}
.with-Tour-Satorini{
    margin: 24px 0;
}
.Tour-description p{
    color: #5A5A5D;
    
}
.Tour-description h4{
    margin-bottom: 16px;
}
.from-Tour-description p{
    color: #5A5A5D;
}
.Tour-description .Price{
    margin-top: 16px;
    margin-bottom: 25px;
}
.section-four .Price{
    color: #FF5400;
    font-size: 20px;
}
.See-All-Packages{
    display: flex;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 110px;
}

/* section five  */
.section-five{
    margin-top: 100px;
    margin-bottom: 100px;
}
.Perfect-Place{
    display: flex;
}
.Perfect-Place p, ul{
    color: #5A5A5D;
    margin-top: 24px;
    margin-bottom: 24px;
}
.Perfect-Place h2{
    font-size: 40px;
}

/* section six */
.section-six{
    display: flex;
    margin-bottom: 100px;
}
.Newsletter{
    border: 1px solid #FF5400;
    border-radius: 8px;
    padding: 40px;
    margin-right: 24px;
}


/* footer section */
footer{
    background: rgba(19, 19, 24, 0.05);
    text-align: center;
    padding: 100px;
}
.Visiting{
    display: flex;
    justify-content: center;
}
.travel{
    color: #FF5400;
}
.footer-description{
    color: rgba(19, 19, 24, 0.70);
    margin-bottom: 33px;
}
.finishing-part img{
    height: 23px;
    margin-right: 10px;
}
hr{
    max-width: 900px;
    margin-top: 40px;
    margin-bottom: 40px;
}